
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.trasave-6Zd {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  background-color: #000000;
  padding-bottom: 0.5rem;

  .auto-group-6sqv-2bh {
    box-sizing: border-box;
    padding: 1.8rem 0rem 8.4rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .frame-39-a2s {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9.6rem 0.3rem 8.7rem;
      width: calc(100% - 18.3rem);
      height: 10.7rem;

      .mask-group-CK9 {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 50.4rem;
        width: 10.7rem;
        height: 10.7rem;
      }
      .frame-3-dfM {
        align-items: center;
        flex-shrink: 0;
        margin: 2.95rem 0;
        height: calc(100% - 5.9rem);
        display: flex;

        .auto-group-1ayd-Y1d {
          display: flex;
          column-gap: 4rem;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 4rem 0.9rem 0rem;
          height: 100%;

          .home-C6B {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #49b649;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .save-5r7 {
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3625;
            color: #ffffff;
          }
          .travel-B8T {
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3625;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .experience-t2s {
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3625;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .wallet-zbh {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3625;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
          }
        }
        .frame-2-hFD {
          line-height: 1.3625;
          color: #ffffff;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          font-size: 2.2rem;
          display: flex;
          width: 16.7rem;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #ffffff;
          background: linear-gradient(90deg, #07da07 -0%, #0b430b 91.46%);
          border-radius: 1rem;
          font-family: Nunito Sans, 'Source Sans Pro';
          justify-content: center;
          font-weight: 900;
        }
      }
    }
    .auto-group-4gt1-R4j {
      margin: 0rem 8.965rem 0.56rem 0rem;
      width: 142.2345rem;
      height: 99.5404rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-62-QxF {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 101.2622rem;
        height: 99.5404rem;
      }
      .group-10-Duh {
        left: 63rem;
        top: 2.6rem;
        width: 79.2345rem;
        height: 85.2163rem;
        position: absolute;

        .ellipse-1-Hef {
          left: 0;
          top: 26.8769rem;
          object-fit: contain;
          vertical-align: top;
          width: 79.2345rem;
          height: 58.3395rem;
          position: absolute;
        }
        .pngegg-78-1-m43 {
          left: 14.0267rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 14.3rem;
          width: 64.2rem;
          height: 84.3rem;
          position: absolute;
        }
      }
      .save-your-money-for-travel-securely-and-explore-the-whole-world-with-trasave-we-provide-you-the-best-travel-services-z5D {
        height: 9.9rem;
        position: absolute;
        left: 10.4622rem;
        font-size: 2.4rem;
        width: 53.7rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        top: 44.1177rem;
      }
      .saving-your-money-for-travel-through-travel-fund-WBy {
        position: absolute;
        left: 10.4622rem;
        top: 20.5177rem;
        font-size: 5.4rem;
        font-weight: 900;
        letter-spacing: 0.216rem;
        font-family: Nunito, 'Source Sans Pro';
        width: 69.7rem;
        height: 22.1rem;
        line-height: 1.3639999672;
        color: #ffffff;

        .saving-your-money-for-travel-through-travel-fund-WBy-sub-0 {
          font-family: Playfair Display, 'Source Sans Pro';
          font-size: 5.4rem;
          font-weight: 900;
          line-height: 1.2575;
          letter-spacing: 0.216rem;
          color: #49b649;
        }
        .saving-your-money-for-travel-through-travel-fund-WBy-sub-1 {
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          font-size: 5.4rem;
          font-weight: 900;
          line-height: 1.3625;
          letter-spacing: 0.216rem;
        }
      }
      .frame-1-UyM {
        position: absolute;
        left: 10.4622rem;
        font-family: Nunito Sans, 'Source Sans Pro';
        display: flex;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        height: 6.3rem;
        top: 59.5177rem;
        line-height: 1.3625;
        justify-content: center;
        border: solid 0.1rem #ffffff;
        border-radius: 1rem;
        font-size: 2.4rem;
        font-weight: 800;
        letter-spacing: 0.096rem;
        color: #ffffff;
        white-space: nowrap;
        box-sizing: border-box;
        width: 19.7rem;
        background: linear-gradient(267.03deg, #07e707 97.37%, #0c300c 200.2%);
      }
      .frame-40-ZtK {
        width: 29.6rem;
        left: 33.4rem;
        border-radius: 1rem;
        line-height: 1.3625;
        letter-spacing: 0.096rem;
        color: #ffffff;
        display: flex;
        box-sizing: border-box;
        background: linear-gradient(90deg, #07df07 0%, #0b430b 88.85%);
        height: 6.3rem;
        font-weight: 800;
        font-family: Nunito Sans, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 59.6rem;
        font-size: 2.4rem;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #ffffff;
      }
    }
    .frame-13-Hxj {
      margin: 0rem 19.4rem 5.9rem 19.2rem;
      width: calc(100% - 38.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .why-to-travel-with-us-Xs5 {
        display: flex;
        text-align: right;
        font-weight: 900;
        font-family: Nunito, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        margin: 0rem 0rem 2.8rem 0.5rem;
        font-size: 5.4rem;
        line-height: 1.3639999672;
        color: #ffffff;

        .why-to-travel-with-us-Xs5-sub-0 {
          font-size: 5.4rem;
          font-weight: 900;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
        }
        .why-to-travel-with-us-Xs5-sub-1 {
          font-size: 5.4rem;
          font-weight: 900;
          line-height: 1.2575;
          font-style: italic;
          color: #49b649;
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .why-to-travel-with-us-Xs5-sub-2 {
          font-weight: 900;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          font-size: 5.4rem;
        }
      }
      .ambitious-about-your-next-adventure-but-sick-of-saving-money-end-up-sneaking-into-those-savings-because-well-youre-bored-lost-motivation-you-dont-feel-the-funds-are-growing-fast-enough-saving-just-sucks-trasave-has-introduced-an-epic-new-way-to-reward-you-for-your-savings-for-travel-QLX {
        line-height: 1.3625;
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 112.6rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
    .frame-23-Uzb {
      flex-shrink: 0;
      margin: 0rem 24.4rem 0rem 27.9rem;
      width: calc(100% - 52.3rem);
      height: 35.3rem;
      display: flex;
      align-items: center;

      .frame-10-kx7 {
        margin: 6rem 12.9rem 6rem 0rem;
        height: calc(100% - 12rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .service-tips-B1q {
          width: 10rem;
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
        }
        .save-money-fBu {
          display: flex;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;

          .save-money-fBu-sub-0 {
          }
          .save-money-fBu-sub-1 {
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.3625;
            font-style: italic;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
          }
        }
        .invest-in-trasave-securily-for-future-LBZ {
          font-weight: 600;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 19.3rem;
          text-align: center;
          font-size: 2.4rem;
        }
      }
      .frame-6-oaw {
        box-shadow: 0 0.1rem 0.6rem rgba(255, 132, 73, 0.25);
        margin-right: 9.3rem;
        padding: 6rem 3.2rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        border-radius: 5rem;

        .wedding-gift-u8B {
          width: 10rem;
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
        }
        .earn-rewards-BLb {
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-size: 3.6rem;
          line-height: 1.3625;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          margin-bottom: 0.8rem;
          font-weight: 600;

          .earn-rewards-BLb-sub-0 {
          }
          .earn-rewards-BLb-sub-1 {
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.3625;
            font-style: italic;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
          }
        }
        .earn-rewards-and-track-your-money-s6w {
          max-width: 19.3rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .frame-8-4BR {
        box-sizing: border-box;
        padding: 6rem 3.35rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.1rem 0.6rem rgba(255, 132, 73, 0.25);
        border-radius: 5rem;
        flex-shrink: 0;

        .travel-agency-y3V {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          width: 10rem;
          height: 10rem;
          object-fit: contain;
        }
        .travel-global-fwu {
          color: #ffffff;
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 3.6rem;
          line-height: 1.3625;
          font-family: Nunito Sans, 'Source Sans Pro';
          display: flex;
          margin-bottom: 0.8rem;
          font-weight: 600;

          .travel-global-fwu-sub-0 {
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.3625;
            font-style: italic;
          }
          .travel-global-fwu-sub-1 {
          }
        }
        .use-this-money-for-your-travelling-ZA7 {
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 20.5rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
    }
  }
  .group-11-xCF {
    height: 85.9rem;
    box-sizing: border-box;
    padding: 19.2rem 9rem 13.9rem 10.8rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e44f9dffda1c85de23d306033f3f65a11c343276');
    flex-shrink: 0;
    margin-bottom: 9.1rem;
    width: 100%;

    .frame-32-R5q {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;

      .frame-31-jsD {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 25.6rem;
        display: flex;

        .rectangle-31-fF5 {
          margin-bottom: 2.7rem;
          width: 14.7rem;
          height: 0.7rem;
          background-color: #49b649;
          flex-shrink: 0;
        }
        .save-your-travel-money-in-trasave-and-get-top-grade-security-with-us-kGX {
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 58.1rem;
          display: flex;
          font-size: 5.4rem;
          font-weight: 800;
        }
      }
      .there-are-so-many-benefits-of-travelling-with-trasave-not-only-do-we-provide-you-with-an-awesome-digital-travel-solution-an-awesome-travel-app-but-we-also-make-it-super-easy-and-fun-for-you-to-store-save-and-move-your-travel-money-as-well-as-saving-money-the-trasave-travel-fund-is-a-good-way-to-track-your-travel-money-tracking-expenses-is-important-when-travelling-as-you-dont-want-to-be-stuck-in-the-middle-of-your-journey-budgeting-your-travel-we-created-the-travel-fund-so-you-can-store-all-your-travel-money-and-then-track-your-money-from-your-travel-fund-expense-tracker-PqH {
        font-weight: 600;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        max-width: 47.7rem;
        font-size: 2.4rem;
      }
    }
  }
  .frame-13-tZ5 {
    padding: 1.6rem 10.3rem 2.3rem 11.2rem;
    overflow: hidden;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:2f7ac635c4764aadbe6ced4c09db9781e7049fd1');
    box-sizing: border-box;
    position: relative;
    display: flex;
    background-size: 100% 100%;
    flex-shrink: 0;
    width: 100%;

    .frame-40-kbH {
      margin-right: 7.9rem;
      row-gap: 2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .mask-group-TVh {
        flex-shrink: 0;
        width: 11.4rem;
        height: 14.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .trasave-travel-fund-is-a-good-way-to-track-your-travel-money-A9D {
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 27.1rem;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.3625;
      }
      .mask-group-E95 {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 17.5rem;
        height: 3.6842rem;
      }
    }
    .auto-group-4rrb-KwD {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 5.5rem 4.4rem 0rem 0rem;
      width: 49.5rem;

      .auto-group-8myz-Ck7 {
        margin: 0rem 3.3rem 14.1rem 0rem;
        width: calc(100% - 3.3rem);
        height: 19.7rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .frame-16-sLT {
          margin-right: 9.1rem;
          width: 19.3rem;
          flex-shrink: 0;

          .about-B6F {
            width: 100%;
            text-align: center;
            font-weight: 800;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            line-height: 1.3625;
            color: #49b649;
            font-size: 2.8rem;
          }
          .technical-info-CGF {
            font-size: 2.4rem;
            color: #ffffff;
            line-height: 1.3625;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
            width: 100%;
            text-align: center;
            font-weight: 400;
          }
          .other-products-Txs {
            margin-left: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-15-w7M {
          width: 17.8rem;
          height: 100%;
          flex-shrink: 0;

          .contact-us-eXZ {
            margin-bottom: 1.9rem;
            width: 100%;
            color: #49b649;
            text-align: center;
            font-size: 2.8rem;
            font-weight: 800;
            line-height: 1.3625;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .bengaluru-india-vzs {
            width: 100%;
            font-weight: 400;
            line-height: 1.3625;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
            text-align: center;
            font-size: 2.4rem;
          }
          .item-80030-10108-zE3 {
            margin-bottom: 2rem;
            text-align: center;
            line-height: 1.3625;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-size: 2.4rem;
            font-weight: 400;
            color: #ffffff;
          }
          .hrcurlisticcom-TNX {
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #ffffff;
          }
        }
      }
      .copright-2022-curlistic-all-right-reserved-vX1 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Nunito Sans, 'Source Sans Pro';
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .frame-34-CDd {
      margin-top: 5.7rem;
      width: 40.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .subscribe-newsletter-6K1 {
        font-size: 2.8rem;
        font-weight: 900;
        line-height: 1.0714285714;
        color: #ffffff;
        display: flex;
        align-items: baseline;
        margin-bottom: 2.4rem;
        text-align: center;
        font-family: Nunito, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;

        .subscribe-newsletter-6K1-sub-0 {
          font-size: 2.8rem;
          font-weight: 800;
          line-height: 1.0714285714;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
        }
        .subscribe-newsletter-6K1-sub-1 {
          font-size: 2.8rem;
          font-weight: 800;
          line-height: 1.0714285714;
          color: #49b649;
          font-family: Nunito Sans, 'Source Sans Pro';
        }
      }
      .group-12-xe3 {
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 5.9rem;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding: 1.1rem 0.8rem 1.1rem 2.9rem;

        .enter-your-email-S3R {
          line-height: 1.3625;
          font-family: Nunito Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.2rem 12.4rem 0rem 0rem;
          text-align: center;
          font-weight: 400;
          font-size: 1.8rem;
          color: #9d9d9d;
          white-space: nowrap;
        }
        .auto-group-7xjm-fwm {
          justify-content: center;
          width: 11.5rem;
          height: 100%;
          text-align: center;
          flex-shrink: 0;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 0.8rem;
          font-family: Nunito Sans, 'Source Sans Pro';
          display: flex;
          background-color: #49b649;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.3625;
        }
      }
    }
  }
}
